@page "/"

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" @bind="SearchText" @bind:event="oninput" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Year</th>
            <th class="w-100">Title</th>
            <th>Owners</th>
        </tr>
    </thead>

    @foreach (var design in SearchResults)
    {
        <tr>
            <td>
                @if (design.State == DesignState.Accepted)
                {
                    <span class="oi oi-circle-check text-success" title="Accepted"></span>
                }
                else if (design.State == DesignState.Draft)
                {
                    <span class="oi oi-loop-circular text-secondary" title="Draft"></span>
                }
                else
                {
                    <span class="oi oi-fork text-primary" title="In Review"></span>
                }
            </td>
            <td>@design.Year</td>
            <td>
                <a href="@design.Url">@design.Title</a>

                @if (design.Primary is not null && design.PullRequests.Any())
                {
                    <ul class="list-unstyled ml-1 mt-1">
                        @foreach (var pr in design.PullRequests)
                        {
                            <li class="text-muted">
                                <span class="oi oi-fork text-secondary"></span> <a href="@pr.Url">@pr.Title</a> opened @pr.CreateAt.Humanize() by <a class="text-muted" href="@pr.UserUrl">@pr.User</a>
                            </li>
                        }
                    </ul>
                }
            </td>
            <td>
                <div class="d-flex flex-nowrap flex">
                    @{
                        var isFirst = true;
                        foreach (var owner in design.Owners)
                        {
                            if (isFirst)
                            {
                                isFirst = false;
                            }

                            <div><a href="@owner.Url"><img class="rounded border border-light mr-1" src="@owner.AvatarUrl" width="32" height="32" /></a></div>
                        }
                    }
                </div>
            </td>
        </tr>
    }
</table>

<div class="text-muted small mb-5">
    <div>
        Last updated @((DesignService.LastRefreshedAt -  DateTime.Now).Humanize()) ago.
    </div>

    @if (Environment.IsDevelopment())
    { 
        <button class="mt-1 btn btn-secondary btn-sm" @onclick="() => DesignService.UpdateAsync(force: true)">Reload</button>
    }
</div>
